<%= simple_form_for @post do |f| %>
  <div class="form-group">
    <%= f.input :title, calss: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.input :content, calss: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.button :submit %>
  </div>
<% end %>
