<h1>Jetinho's</h1>
<h2>Welcome to my practice blog</h2>
<h3>All posts</h3>
<% unless @posts.present? %>
  <p>No post yet</p>
<% end %>
<ul>
  <% @posts.each do |post| %>
    <li>
      <%= link_to post.title, post_path(post)  %>
    </li>
  <% end %>
</ul>
<%= link_to "Add a new post", new_post_path %>
