// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 50%), url('pen-on-paper.jpg');
  background-size:cover;
  min-height: 300px;
  color: rgba(0,0,0,0.6);
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
}

.post-box {
  margin: 50px 0;
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 50%), url('paper.jpg');
  min-height: 400px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.index-box {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 50%), url('paper.jpg');
  min-height: 100px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

.title {
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 20px;
}

.down-button {
  padding-top: 60px;
  margin-down: 60px;
}

.bottom-line {
  margin-top: 30px;
  position: relative;
  bottom: 20px;
}

body {
  p {
    font-family: 'Raleway', sans-serif;
    color: rgba(0,0,0,0.8);
}
  h2 {font-family: 'Oswald', sans-serif;
    color: rgba(0,0,0,0.4);
}
}

.grey-wrapper {
  background-color: #525049;
}

.buttons {
  padding: 20px;
  text-align: center;
}

.button {
  margin: 10px 10px;

}

.white {
  color: white;
}
